---
const { title, useMonoFont = false } = Astro.props
---

<div class="border border-gray-400 dark:border-gray-200 bg-gray-100 dark:bg-gray-800 px-5 py-3 rounded-md">
    <details class={useMonoFont ? "font-mono" : ""}>
    <summary>{title}</summary>
        <slot />
    </details>
</div>