---
interface Props {
	date: Date;
	frontmatter?: {
		minutesRead: string;
		wordCount: number;
	}
}

const { date, frontmatter } = Astro.props;
---

<div class="flex justify-center w-full gap-2 text-sm md:text-base">
	<time datetime={date.toISOString()}>
		{
			date.toLocaleDateString('en-us', {
				year: 'numeric',
				month: 'short',
				day: 'numeric',
			})
		}
	</time>
	{frontmatter &&
		<>
			•
			<span>
				{frontmatter.minutesRead}
			</span>
			•
			<span>
				{frontmatter.wordCount} words
			</span>
		</div>
	}
</div>
