---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<'a'> & { chip?: boolean }

const {href, chip, ...rest} = Astro.props;

const isInternalLink = href && (href as string).startsWith('/')
const isAnchorLink = href && (href as string).startsWith('#')

const className = "text-[#ec4899] hover:text-[#db2777] transition-colors underline underline-offset-1"
const chipClassName = "text-primary-500 text-xs dark:text-primary-200 hover:text-[#db2777] bg-primary-100 dark:bg-primary-900/50 border-[1px] border-primary-400 dark:border-primary-600 dark:hover:bg-primary-700 hover:bg-primary-200 dark:hover:text-primary-100 rounded-xl py-1 px-2 transition-colors"
---

{
    (isInternalLink || isAnchorLink) ?
    <a class={chip ? chipClassName : className} href={href} {...rest}>
        <slot/>
    </a> :
    <a class={chip ? chipClassName : className} target="_blank" rel="noopener noreferrer" href={href} {...rest}>
        <slot/>
    </a>
}
