---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<'a'>

const {href, ...rest} = Astro.props;

const isInternalLink = href && (href as string).startsWith('/')
const isAnchorLink = href && (href as string).startsWith('#')
---

{
    (isInternalLink || isAnchorLink) ?
    <a class="text-[#ec4899] hover:text-[#db2777] transition-colors underline underline-offset-1" href={href} {...rest}>
        <slot/>
    </a> :
    <a class="text-[#ec4899] hover:text-[#db2777] transition-colors underline underline-offset-1" target="_blank" rel="noopener noreferrer" href={href} {...rest}>
        <slot/>
    </a>
}
