---
import Image from "astro/components/Image.astro";

interface Props {
  src: string;
  alt: string;
  subtitle?: string;
}

const { src, alt, subtitle } = Astro.props
---

<div id="hero" class="not-prose w-full flex flex-col gap-2 justify-center items-start my-4 h-auto">
  <Image
    src={src}
    alt={alt}
    width={1}
    height={1}
    loading="eager"
    class="w-full rounded-md block"
  />
  {subtitle && <p class="text-xs text-gray-400 px-2">{subtitle}</p>}
</div>