---
// github.com/rezahedi/rezahedi.dev/blob/main/src/components/TOCHeading.astro
const { heading } = Astro.props;
---
<li class="border-l-2 pl-4 pb-2 transition-colors duration-500 dark:border-0" id={heading.slug}>
  <a href={'#' + heading.slug}>
    {heading.text}
  </a>
  {heading.subheadings.length > 0 && (
    <ul>
      {heading.subheadings.map((subheading: any) => (
        <Astro.self heading={subheading} />
      ))}
    </ul>
  )}
</li>